<h2>Hola soy la pagina de contacto</h2>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nesciunt laboriosam ab, nostrum molestiae possimus ipsa libero dolore? Dignissimos reprehenderit officiis nobis animi ullam. Nostrum cumque quibusdam consequuntur obcaecati ad inventore!</p>
